.img-fluid {
    box-shadow: 0px 0px 10px black;
}

.hero-cont{
    background-image: url("heroBG (2).gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #181818;
    height: 600px;
}
